sources
venv
.venv
ingestion/data/raw
/data/raw
analysis/analysis_env
credentials.json
*.pkl
ml_env
new_model
eda_container
ml_analysis_plots
ml_temp
dbt.log
ml/
temp.md
past/
data/

.terraform/
*.tfstate
*.tfstate.*
!terraform.tfvars.example
.terraformrc
terraform.rc
crash.log

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env

key.json
credentials.json
*credentials*.json

.DS_Store
.idea/
.vscode/
*.swp
*.swo.terraform/
eda/.ipynb_checkpoints/eda-checkpoint.ipynb
